DEFAULT linux
TIMEOUT 300
PROMPT 1

LABEL grub
  LINUX ../boot/grub/i386-pc/grub.exe
  APPEND -c ../boot/grub/i386-pc/grub.cfg

LABEL linux
  SAY Booting Enderarch directly...
  KERNEL ../boot/x86_64/vmlinuz-linux
  INITRD ../boot/x86_64/initramfs-common.img,../boot/x86_64/initramfs-enderarch.img
  APPEND enderarch.mode=ram quiet

LABEL linux-lts
  SAY Booting Enderarch (LTS)...
  KERNEL ../boot/x86_64/vmlinuz-linux-lts
  INITRD ../boot/x86_64/initramfs-common.img,../boot/x86_64/initramfs-enderarch.img
  APPEND enderarch.mode=ram quiet
